[Unit]
Description=yuanrong.service

[Service]
#Type=simple
PIDFile=/run/yuanrong.pid
PassEnvironment=AKERNEL_ROLE AKERNEL_NODE_IP INSTANCE_IP ETCD_ADDRESS ETCD_PORT ETCD_PEER_PORT HOSTNAME AKS_LOCAL_MODE LITEBUS_DATA_KEY YR_LOG_PATH YR_INSTALLATION_DIR ENABLE_METRICS ENABLE_TRACE TRACE_CONFIG_FILE TRAEFIK_MODE TRAEFIK_ENABLE_TLS TRAEFIK_HTTP_ENTRYPOINT
Environment="CONTAINER_EP=unix:///run/sandboxd/sandboxd.sock"
Environment="RUNTIME_HOME_DIR=/home/yuanrong/runtime"
Environment="YR_NOSET_CUDA_VISIBLE_DEVICES=1"
ExecStartPre=-/bin/mkdir -p /home/yuanrong/runtime
ExecStart=/usr/bin/bash /home/yuanrong/yr_node_bootstrap.sh

ExecReload=/bin/kill -15 $MAINPID
KillMode=control-group
Restart=always
RestartSec=5s
Delegate=yes
UMask=000
TasksMax=infinity

[Install]
WantedBy=multi-user.target
